body{
    background-color: #ffffff;
}

#navbar{
    /*background-color: rgb(183, 204, 183);*/
    margin: 20px 15px 0px 15px;
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px 50px 50px;
    position: space-evenly;
}

a {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    opacity: .75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#logo {
    /*background: chartreuse;*/
    outline: none;
}
img {
    padding: 109px 0px 25px 0px;
    text-align: center; 
}
#search-div{
    background: khaki;
}
#searchbar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    margin: 0 auto;    
}

.searchbtns {
    display: inline-block;

}