html {
    height: 100%;
    min-height: 100%;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px 30px 50px;
    grid-template-rows: 50px;
    font-size: 13px;
    opacity: 0.75;
}

#main {
    padding: 109px;
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#logo {
    display: block;
    padding: 0px 0px 30px 0px;
}

#searchbar {
    display: inline-block;
    width: 30%;
    padding: 8px;
    border-radius: 25px;
}

#search-btn {
    background: #f8f8f8;
    border-radius: 4px;
    color: #5F6368;
    display: inline-block;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    /*height: 36px;*/
    min-width: 54px;
    text-align: center;
    cursor:pointer;
    font-size:14px;
    font-family: Arial, sans-serif;
    text-decoration:none;
    position: relative;
}

#lck-btn {
    background: #f8f8f8;
    border-radius: 4px;
    color: #5F6368;
    display: inline-block;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    /*height: 36px;*/
    min-width: 54px;
    text-align: center;
    cursor:pointer;
    font-size:14px;
    font-family: Arial, sans-serif;
    text-decoration:none;
    position: relative;
}

#menu-icon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

#sign-in {
    padding: 0 12px;
    background-image: -moz-linear-gradient(top, #4387fd, #4683ea);
    background:#4683ea;
    margin: auto;
    line-height: 28px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bolder;
    text-decoration:none;
    outline: none;
    position: relative;
}

#sign-in:active {
	position:relative;
	top:1px;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #000;
}

a:hover {
    text-decoration: underline;
}
